@page "/apidemo"
@using System.Net.Http.Json;

@*@inject IHttpClientFactory clientFactory*@
@using WebApplication_Bordasheva.Blazor.Data;
@using WebApplication_Bordasheva.Blazor.Components;
@inject HttpClient client

<div class="container">
    @*<h3>CТраница апи демо</h3>*@
    <PhonesList @bind-Phones="phones"></PhonesList>
</div>

@code {
    [Parameter]
    public IEnumerable<ListViewModel> phones { get; set; }


    string apiBaseAddress = "https://localhost:44382/Api/Phones";

    protected override async Task OnInitializedAsync()
    {
        phones = await client.GetFromJsonAsync<IEnumerable<ListViewModel>>(apiBaseAddress);
    }
}
