@page "/apidemo"
@inject HttpClient client

@using WebApplication_Bordasheva.Blazor.Data

<div class="container">
  @*  <PhonesList @bind-Phones=""></PhonesList>*@
    <h3>Страница API Demo</h3>
</div>

@code {
    //[Parameter]
    //public IEnumerable<ListViewModel> phones { get; set; }


    //string apiBaseAddress = "https://localhost:44310/Api/Dishes";

    //protected override async Task OnInitializedAsync()
    //{
    //    phones = await client.GetFromJsonAsync<IEnumerable<ListViewModel>>(apiBaseAddress);
    //}
}
