@using WebApplication_Bordasheva.Blazor.Data

<h3>PhoneDetails</h3>

@if (Phone != null)
{
    <img src="@imageSrc" class="img-thumbnail" width="150" />

    <div>
        <p>@Phone.PhoneName - @Phone.Description</p>
        <div class="badge badge-info ">@Phone.Price руб</div>
    </div>
}

@code {
        [Parameter]
        public DetailsViewModel Phone { get; set; }

        [Parameter]
        public EventCallback<DetailsViewModel> PhoneChanged { get; set; }

        string imageSrc
        {
            get
            {
                return $"https://localhost:44310/images/{Phone.Image}";
            }
        }
    }
